<form [formGroup]="formGroup" (input)="onFormChange()" (ngSubmit)="onSubmit()">
  <h2>Authorization</h2>
  <mat-form-field>
    <mat-label>Login</mat-label>
    <input matInput formControlName="login" />
    <mat-error *ngIf="formGroup.hasError('required', 'login')">Login is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error *ngIf="formGroup.hasError('required', 'password')">Password is required</mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    [disabled]="loading || formGroup.invalid || !!formError"
  >Sign in</button>

  <mat-error *ngIf="formError">{{ formError }}</mat-error>
</form>
